.deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fav-message {
  font-size: 3rem;
}


@media screen and (max-width: 400px) {
  .deck {
    flex-direction: column;
    align-items: center;
  }
}